<div class="c-anti-faky-wrap">

  <div class="c-title"><span style="font-weight: bold">二维码真伪识别与应用系统</span></div>

  <div class="c-content-wrap">
    <div class="c-carousel-wrap">
      <div style="height: 100%; width: 100%">

        <carousel>
          <slide *ngFor="let imgItem of codeInfo['imgs']">
            <div style="height: 14rem; width: 100%; background-size:100% 14rem" class="text-center py-5 bg-dark text-white" [style.background-image]="'url(' + imgItem['url'] + ')' ">
            </div>
          </slide>
        </carousel>

      </div>
    </div>
    <div class="c-anti-fake-code-wrap">
      <div class="c-anti-fake-title">
        <img src = '../../../assets/imgs/warn.png' style="border-radius: 100%; height: 1.3125rem; width: 1.3125rem; margin-right: .5rem"/>
        您查询的防伪码为：
      </div>
      <div class="c-anti-fake-code">
        <input class="c-anti-fake-code-input" [(ngModel)]="codeInfo['antifakeCode']"/>
      </div>
    </div>

    <div class="c-code-desc-wrap">
      <span *ngIf="codeInfo['read'] == 0 && codeInfo['code_exist']" style="    display: block;color: #6ea017;font-size: 1.6rem;">正确有效</span>
      <span *ngIf="codeInfo['read'] > 0 && !codeInfo['unExist']">您所查询的防伪码已被查询过，首次查询时间：{{codeInfo.first_read_time}},查询方式:网络,请确认!此次是第{{codeInfo['read'] + 1}}次查询！</span>
      <span *ngIf="codeInfo['read'] == 0 && codeInfo['code_exist']" style="color: #6ea017">您所查询的是{{codeInfo.brand_name}}品牌卫浴产品，是该品牌正品的标识，感谢您的查询！</span>
      <span *ngIf="codeInfo.hasOwnProperty('code_exist')  && !codeInfo['code_exist']">您所查询的防伪码不存在！</span>
    </div>
    <div class="c-code-from-to" *ngIf="codeInfo['from'] || codeInfo['to'] || codeInfo['desc']">
      <span *ngIf="codeInfo['desc']">产品信息：{{codeInfo['desc']}}<br/><br/></span>
      <span *ngIf="codeInfo['from']">产地：{{codeInfo['from']}}<br/></span>
      <span *ngIf="codeInfo['to']">销往：{{codeInfo['to']}}</span>
    </div>
    <div class="c-div-item" *ngIf="codeInfo['name']">
      {{codeInfo['name']}}
    </div>
    <div class="c-div-item" *ngIf="codeInfo['addr']">
      公司地址：{{codeInfo['addr']}}
    </div>
    <div class="c-div-item" *ngIf="codeInfo['tel']">
      客服热线：{{codeInfo['tel']}}
    </div>
    <div class="c-div-item" *ngIf="codeInfo['fixed_line']">
      固定电话：{{codeInfo['fixed_line']}}
    </div>
    <div class="c-div-item" *ngIf="codeInfo['wechat']">
      微信号：{{codeInfo['wechat']}}
    </div>
    <div style="width: 80%; margin: .5rem auto 0; height: 1px;  border-top: 1px #333 dashed;"></div>

    <div class="c-btn-wrap" *ngIf="codeInfo['wechat']" style="text-align: center; margin-top: 2rem">
      <img [src]="codeInfo['qr_code']" style="height: 8rem; width: 8rem" *ngIf="codeInfo['qr_code'] && codeInfo['qr_code'] != ''">
      <!--<span style="display: inline-block; height: 2rem; width: 6rem; background: #7fd0c7; color: white; cursor: pointer;">关注微信</span>-->
    </div>
    <div class="c-bottom-wrap" *ngIf="codeInfo['support_tag']">© Copyright 2017 - 2019. 贝思盈防伪系统</div>
  </div>
</div>
