

.cdk-overlay-dark-backdrop {
  background: rgba(248, 247, 247, 0.29) !important;
}

.mat-dialog-container {
  box-shadow: 0 7px 4px -7px rgba(175, 161, 161, 0.2), 0 1px 11px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12) !important;
  padding: 0 !important;
}

.mat-select-disabled {
  background: #e9ecef !important;
}

.mat-select-value {
  text-indent: .5rem !important;
}

.mat-menu-panel {
  height: 15rem !important;
}

