<div class="c-home-wrap">
  <div class="c-account-info-wrap">
    <div class="c-account-item-wrap">
      <div class="c-account-title">商户总数</div>
      <div class="c-account-num">{{info['merch_num']}}</div>
    </div>
    <div class="c-account-item-wrap">
      <div class="c-account-title">防伪码总数</div>
      <div class="c-account-num">{{info['qr_code_num']}}</div>
    </div>
    <div class="c-account-item-wrap">
      <div class="c-account-title">当日查询次数</div>
      <div class="c-account-num">{{info['today_read_num']}}</div>
    </div>
  </div>
</div>
