<div class="c-login-wrap">

  <div class="c-login-card">
    <div class="c-login-title">登陆</div>
    <div class="c-user-name">
      <input placeholder="账号" class="c-input" [(ngModel)]="userName"/>
    </div>
    <div class="c-password">
      <input placeholder="密码" class="c-input" [(ngModel)]="password"/>
    </div>
    <div class="c-btn-wrap">
      <button class="c-btn c-cursor-pointer" (click)="loginBtn($event)">登陆</button>
    </div>
  </div>

  <div class="bottom-wrap">
    © Copyright 2017 - 2020. 贝思盈防伪系统
    <a rel="nofollow" href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" class="beianhao" style="color: rgb(255, 255, 255);">闽ICP备18015738号-1</a>
  </div>

</div>
