<div class="c-add-merch-wrap">
  <div class="c-contain-wrap">
    <div class="c-contain-left-wrap">
      <div class="c-div-item">
        <span class="c-input-text">商户名称：</span><input class="c-input" [(ngModel)]="name"/>
      </div>
      <!--<div class="c-div-item">-->
        <!--<span class="c-input-text">防伪标题：</span><input class="c-input" [(ngModel)]="title"/>-->
      <!--</div>-->
      <div class="c-div-item">
        <span class="c-input-text">地址：</span><input class="c-input" [(ngModel)]="addr"/>
      </div>
      <div class="c-div-item">
        <span class="c-input-text">客服热线：</span><input class="c-input" [(ngModel)]="tel"/>
      </div>
      <div class="c-div-item">
        <span class="c-input-text">固定电话：</span><input class="c-input" [(ngModel)]="fixed_line"/>
      </div>
      <div class="c-div-item">
        <span class="c-input-text">显示技术支持：</span>
        <mat-select placeholder="" [(ngModel)] = "support_tag" class="c-text-gray c-no-drag"  class = 'c-input'>
          <mat-option *ngFor="let selectItem of selectList" [value]="selectItem.value">
            {{ selectItem.name }}
          </mat-option>
        </mat-select>
      </div>
      <div class="c-div-item">
        <span class="c-input-text">微信号：</span><input class="c-input" [(ngModel)]="wechat"/>
      </div>
      <div class="c-qrCode-div" style="display: flex; justify-content: center">
        <label style="height: 100%; width: 100%; position: relative; text-align: center" class="c-cursor-pointer">
          <input type="file" accept="image/*" class="c-input-file" (change)="uploadQRCode($event)"/>
          <img [src] = "qrCodeUrl && qrCodeUrl != '' ? qrCodeUrl : 'assets/imgs/qrcode.png'" style="height: 8rem; width: 8rem"><br/>
          <span style="font-size: .84rem; color: grey"> 微信二维码</span>
        </label>

        <label style="height: 100%; width: 100%; position: relative; margin-left: 2rem; text-align: center" class="c-cursor-pointer">
          <input type="file" accept="image/*" class="c-input-file" (change)="uploadWcQRCode($event)"/>
          <img [src] = "wcQrcodeUrl && wcQrcodeUrl != '' ? wcQrcodeUrl : 'assets/imgs/wcQrcode.png'" style="height: 8rem; width: 8rem">
          <span style="font-size: .84rem; color: grey"> 公众号二维码</span>
        </label>
      </div>
    </div>
    <div class="c-contain-right-wrap">
      <div class="c-img-wrap">
        <div class="c-img-item" *ngFor="let imgItem of imgs; let imgIndex = index" style="position: relative">
        <img [src]="imgItem['imgUrl']" style="height: 8rem; width: 8rem">
          <span style="color: red; display: inline-block; position: absolute; top: 0; right: .5rem; font-size: 1.2rem" class="c-cursor-pointer" (click)="delImgBtn($eveent, imgIndex)">×</span>
        </div>
        <div class="c-img-input-wrap" style="position: relative">
        <label style="height: 100%; width: 100%; position: relative" class="c-cursor-pointer">
        <input type="file" accept="image/*" class="c-input-file" multiple (change)="uploadImg($event)"/>
        <img [src]="'assets/imgs/imgAdd.png'" style="height: 8rem; width: 8rem">
        </label>
        </div>
      </div>
      <div class="c-btn-wrap">
        <span class="c-save-btn c-cursor-pointer" (click)="addMerchBtn($event)">保存</span>
      </div>
    </div>
  </div>
</div>
