<div class="c-add-merch-wrap">
  <div class="c-contain-wrap">
    <div class="c-contain-left-wrap">
      <div class="c-div-item">
        <span class="c-input-text">商户名称：</span><input class="c-input"/>
      </div>
      <div class="c-div-item">
        <span class="c-input-text">防伪标题：</span><input class="c-input"/>
      </div>
      <div class="c-div-item">
        <span class="c-input-text">地址：</span><input class="c-input"/>
      </div>
      <div class="c-div-item">
        <span class="c-input-text">客户热线：</span><input class="c-input"/>
      </div>
      <div class="c-div-item">
        <span class="c-input-text">微信号：</span><input class="c-input"/>
      </div>
      <div class="c-qrCode-div">
        <label style="height: 100%; width: 100%; position: relative" class="c-cursor-pointer">
          <input type="file" accept="image/*" class="c-input-file"/>
          <img src="../../../../../assets/imgs/qrcode.png" style="height: 8rem; width: 8rem">
        </label>
      </div>
    </div>
    <div class="c-contain-right-wrap">
      <div class="c-img-item"></div>
      <div class="c-img-input-wrap" style="position: relative">
        <label style="height: 100%; width: 100%; position: relative" class="c-cursor-pointer">
          <input type="file" accept="image/*" class="c-input-file"/>
          <img src="../../../../../assets/imgs/imgAdd.png" style="height: 8rem; width: 8rem">
        </label>
      </div>
    </div>
  </div>
</div>
